@charset "gb2312";
body {
	font-size: 12px;
	text-decoration: none;
	margin: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-size:12px;
	line-height:150%;
	color:#333333;
	background-image:url(../images/bg.jpg);
	background-repeat: repeat-x;
}
body,table {
	font-size: 12px;
	margin-top: 0px;
	margin-right:0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: "宋体";
	line-height: 150%;
	font-family: Arial, Helvetica, sans-serif;	
}

#main{width:1002px; margin:0px auto; overflow:hidden;}

.biaoge {
	border: 2px solid #363636;
	
}
.wenzi {
	font-size: 12px;
	line-height: 20px;
	color: #CCCCCC;
	text-decoration: none;
}
.biaoge_td {
	border: 1px solid #393939;
}

a.dh{font-weight:bold;}
a.dh:link {font-size: 12px;color: #333333;text-decoration: none;}
a.dh:visited {font-size: 12px;color: #333333;text-decoration: none;}
a.dh:hover {font-size: 12px;color: #FF0000;text-decoration: none;}

a.b:link {font-size: 12px;color: #333333;text-decoration: none;}
a.b:visited {font-size: 12px;color: #333333;text-decoration: none;}
a.b:hover {font-size: 12px;color: #FF0000;text-decoration: none;}

a:link {font-size: 12px;color: #333333;text-decoration: none;}
a:visited {font-size: 12px;color: #333333;text-decoration: none;}
a:hover {font-size: 12px;color: #FF0000;text-decoration: none;}

a.c:link {
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
	font-weight: bold;
}
a.c:visited {
	font-size: 12px;
	color: #333333;
	text-decoration: underline;
	font-weight: bold;
}
a.c:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
	font-weight: bold;
}
.pinpai {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
a.k:link {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.k:visited {
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.k:hover {
	font-size: 12px;
	color: #FF0000;
	text-decoration: none;
}

.bh{overflow:hidden;visibility:inherit;white-space:nowrap;}/*不换行隐藏*/
.hh{overflow:hidden; visibility:inherit;word-wrap: break-word; word-break: break-all;}/*换行隐藏*/